.background {
    background-image: url('/images/contact.jpg');
  
  
  }
  
  
  .backfrm {
    background-image: url('/images/map.png');
  }
  
  .dotside {
    background-image: url('/images/dotside.svg');
  }